<footer class="footer">
    <div class="navigate__group">
        <div class="navigate__list">
            <div class="navigate__item">
                <span class="item_title">ACTIONS</span>
                <span class="item_link">Find a store</span>
                <span class="item_link">Become a member</span>
                <span class="item_link">Sigup for email</span>
                <span class="item_link">Send us feedback</span>
            </div>
            <div class="navigate__item">
                <span class="item_title">GET HELP</span>
                <span class="item_link">Order Status</span>
                <span class="item_link">Delivery</span>
                <span class="item_link">Return</span>
                <span class="item_link">Payment Options</span>
                <span class="item_link">Contact Us</span>
            </div>
            <div class="navigate__item">
                <span class="item_title">ABOUT NIKE</span>
                <span class="item_link">News</span>
                <span class="item_link">Careers</span>
                <span class="item_link">Investore</span>
                <span class="item_link">Sustainability</span>
            </div>
        </div>
        <div class="list__icon-socials">
            <i class="fa-brands fa-twitter socials__item"></i>
            <i class="fa-brands fa-facebook socials__item"></i>
            <i class="fa-brands fa-youtube socials__item"></i>
            <i class="fa-brands fa-instagram socials__item"></i>
        </div>
    </div>
    <%# <div class="copy-by-right">
        <div class="location">
           <i class="fa-solid fa-location-pin"></i>
            VietNam
        </div>
        <div>

        </div>
    </div> %>
</footer>