
<div class="container navigate">
    <ul class="nav menu-list">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
    <div class="action">
        <div class="action__search">
            <i class="fa-solid fa-magnifying-glass icon__search"></i>
            <input type="text" class="search__text" placeholder="Search"/>
        </div>
        <div class="action__other">
            <i class="fa-regular fa-heart icon__other"></i>
            <i class="fa-solid fa-bag-shopping icon__other"></i>
        </div>
    </div>
</div>